<!doctype html>
<html>
<head>
    <title>Jenny</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <header>
        <div>
        Jenny's blog
        </div>
        <!-- <img src='/img/logo.gif'> -->
    </header>
    <div class="body1">
        <div class="navi">
            <ul class="">
                <li>主页</li>
                <li>主页</li>
                <li>主页</li>

            </ul>
        </div>
        <div class="main">
            {{{body}}}
        </div>
    </div>
</body>
</html>